@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
body{
    background-color: #000000;
    font-family: 'Poppins', sans-serif;
}
html{
    zoom: 80%;
}
#about{
    margin-top: 10vmin;
}
.head{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: 0;
    background-image: radial-gradient(white,black);
    background-size: 300% 350%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
.title{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -100%);
    text-transform: uppercase;
    font-size: 5vw;
    font-family: 'Poppins', sans-serif;
}
.title b{
    color: yellow;
    text-shadow: 0 0 150px yellow;
}
.nav_bar{
    width: 100%;
    height:fit-content;
    background-color: rgb(22, 22, 22);
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    position: fixed;
    top: 0%;
    z-index: 10;
}
.nav_item{
    color: white;
    align-self: center;
    padding: 1px;
    margin-top:10px;
    padding-left: 5px;
    padding-right: 5px;
    text-transform: uppercase;
    font-weight: bold;
    margin-inline: 1%;
    cursor: pointer;
}
.main_item{
    color: white;
    align-self: center;
    padding: 1px;
    margin-top:10px;
    padding-left: 5px;
    padding-right: 5px;
    text-transform: uppercase;
    font-weight: bold;
    margin-inline: 1%;
    justify-self: start;
    position: absolute;
    left: 0%;
    cursor: pointer;
}
.main_item b{
    color: yellow;
}
.explore-btn{
    position: relative;
    top: 50%;
    margin-top: 5vmin;
    background-color: transparent;
    border: none;
    color: rgb(255, 255, 255);
    transition: 0.5s;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #000000;
    height: 10vmin;
    padding-left: 5vmin;
    padding-right: 5vmin;
    cursor: pointer;
    text-align: center;
    margin: 10;
}
.explore-btn b{
    position: relative;
    top: 30%;
}
.explore-btn:hover{
    color: #000000;
    background-color: white;
}